header {
    background-color: black;
    text-align:center; 
    font-size: 40px;
    color:green;
    /* position: fixed; */
    width: 100%;
    left: 0;
    top: 0;
}

.btn:hover {
    background-color: #25c02d;
}